

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  background-color: #e9f1fa;
}

#main-content-container {
  margin-left: 0;
  margin-right: 0;
}

table {
  background-color: white;
}

.img-main {
  padding-left: 0;
  padding-right: 0;
}






