/* main container css */
* {
    margin: 0;
    padding: 0;
}

.review-container {
    color: white;
    align-content: center;
    align-items: center;
}

.main-container {
    
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    border-radius: 0%;
    margin: 0%;
    background-color: none;
    
}
  
.award-gallery-container {
    grid-auto-columns: auto;
    position:relative;
    left: 35vw; bottom: -25vw;
}

.main-container {
    background-image: url(https://images.unsplash.com/photo-1574023240744-64c47c8c0676?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-award-main {
    width: 10%;
    height: 10%;

}

.img-award-2-main {
    border-radius: 50%;
    width: 8%;
    height: 8%;

    
}
.img-award-3-main {
    border-radius: 50%;
    width: 9%;
    height: 9%;

}
/*nobel prize award */
.img-award-4-main {
    border-radius: 50%;
    width: 8%;
    height: 8%;
}

.img-award-5-main {
    border-radius: 50%;
    width: 9%;
    height: 9%;
}

div > img {
    margin-bottom: 30%;
    
}

.img-car-main {
    width: 100%;
    
}

#car-p {
    font-family: Helvetica, Arial, sans-serif;
    
    font-weight: bold;
}

p .car-main-description{
    /* font-family: 'Times New Roman', serif; */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

#car-p {
    font-size: 16vw;

    color: black;
    position: relative;
    right: -42vw;
    
    
} 

body {
    background-color: white;
}

.car-main-description {
    font-size: 2vw;
    margin: 0%;
    color: white;
    position: relative;
    right: -40vw; bottom: 3vw;
    
    
}

#footer {
    width: 90%; 
    left: 10%;
    position: relative;
    bottom: 0%;
    background-color: white;

}

section {
    left: 10%;
    width: 90%;
}
